//https://youtu.be/kt3cEjjkCZA great tutorial for pug(formally known as Jade)
doctype html
html
 head 
   body
     title My Team 
     style.
       body {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
       }
       .header {
        background-color: red;
        margin: 0 0 2rem;
        height: 4rem;
        display: flex;
       }
       .headerText {
        margin: auto;
        color: #fffff;
        font-size: 24px;
        font-weight: 700;
       }
       .employeeArea {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr); 
       }
       .employeeData {
        border: 2px outset;
        display: flex;
        flex-direction: column;
        background-color: #f5f5f5;
       }
       .employeeHeader {
        background-color: #4169E1;
        padding: 0 1rem;
       }
       .employeeName {
        color: #ffffff;
        font-size: 20px;
        margin: 0;
        margin-bottom: 5px;
       }
       .employeeRole {
        color: #ffffff'
        font-size: 18px;
        margin: 0;
       }
       .employeeOtherDetails {
        background-color: #ffffff;
        margin: auto;
        padding: 0;
        width: 70%;
        font-size: 14px;
       }
body 
    div.header 
        p.headerText= 'My Team'
    div.employeeArea 
        for employee in everyone 
            div.employeeData
                div.employeeHeader 
                    p.employeeName= employee.name 
                    p.employeeRole= employee.role 
                div.employeeOtherDetails  
                    p Email:   #{employee.email}
                    if (employee.github) 
                        p GitHub: #{employee.email} 
                        if (employee.office_number)
                        p Office: #{employee.office_number} 
console.log(res);